<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Espace Biblio</title>
</head>
<body>
    <h1>Test Espace Biblio</h1>
    <a href="/">Retour accueil</a>
    <br><br>
    <a href="/bibliothecaire/medias/">Voir tous les médias</a>
    <br>
    <a href="/bibliothecaire/membres/">Voir tous les membres</a>
    <br><br>


    <h2>Ajouter/Gérer les membres</h2>
    <a href="/bibliothecaire/creer-membre/">Créer un nouveau membre</a>
    <br><br>


    <h2>Ajouter/Gérer des médias :</h2>
    <a href="/bibliothecaire/ajouter-livre/">Ajouter un livre</a><br>
    <a href="/bibliothecaire/ajouter-dvd/">Ajouter un DVD</a><br>
    <a href="/bibliothecaire/ajouter-cd/">Ajouter un CD</a>

    <h2>Gérer les emprunts / retours</h2>
    <a href="/bibliothecaire/creer-emprunt/">Créer un emprunt</a><br>
<a href="/bibliothecaire/rentrer-emprunts/">Gérer les retours</a>

</body>
</html>